### Importing Libraries

In [2]:
%matplotlib inline 

import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.stats import zscore

### Loading csv file and reading with pandas

In [3]:
# (encoding = "ISO-8859-1") used to avoid encoding errors.

df = pd.read_csv("playerstatspergame.csv", encoding = "ISO-8859-1" )

In [4]:
df.head() # lets see the top 5 rows in df

,Player,username,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Álex Abrines,abrinal01,25,OKC,31,2,19.0,1.8,5.1,0.357,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,Quincy Acy,acyqu01,28,PHO,10,0,12.3,0.4,1.8,0.222,...,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,Jaylen Adams,adamsja01,22,ATL,34,1,12.6,1.1,3.2,0.345,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,Steven Adams,adamsst01,25,OKC,80,80,33.4,6.0,10.1,0.595,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,Bam Adebayo,adebaba01,21,MIA,82,28,23.3,3.4,5.9,0.576,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9

In [5]:
df.columns # The columns we have in our df

Index(['Player', 'username', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [6]:
#dropping come solumns that we won't use such as "username"

df = df.drop(["username"], axis=1)

In [32]:
df.head(20)

,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Álex Abrines,25,OKC,31,2,19.0,1.8,5.1,0.357,1.3,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,Quincy Acy,28,PHO,10,0,12.3,0.4,1.8,0.222,0.2,...,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,Jaylen Adams,22,ATL,34,1,12.6,1.1,3.2,0.345,0.7,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,Steven Adams,25,OKC,80,80,33.4,6.0,10.1,0.595,0.0,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,Bam Adebayo,21,MIA,82,28,23.3,3.4,5.9,0.576,0.0,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9
5,Deng Adel,21,CLE,19,3,10.2,0.6,1.9,0.306,0.3,...,1.000,0.2,0.8,1.0,0.3,0.1,0.2,0.3,0.7,1.7
6,DeVaughn Akoon-Purcell,25,DEN,7,0,3.1,0.4,1.4,0.300,0.0,...,0.500,0.1,0.4,0.6,0.9,0.3,0.0,0.3,0.6,1.0
7,LaMarcus Aldridge,33,SAS,81,81,33.2,8.4,16.3,0.519,0.1,...,0.847,3.1,6.1,9.2,2.4,0.5,1.3,1.8,2.2,21.3
8,Rawle Alkins,21,CHI,10,1,12.0,1.3,3.9,0.333,0.3,...,0.667,1.1,1.5,2.6,1.3,0.1,0.0,0.8,0.7,3.7
9,Grayson Allen,23,UTA,38,2,10.9,1.8,4.7,0.376,0.8,...,0.750,0.1,0.5,0.6,0.7,0.2,0.2,0.9,1.2,5.6
10,Jarrett Allen,20,BRK,80,80,26.2,4.2,7.1,0.590,0.1,...,0.709,2.4,6.0,8.4,1.4,0.5,1.5,1.3,2.3,10.9
11,Kadeem Allen,26,NYK,19,1,21.9,3.4,7.4,0.461,0.9,...,0.778,0.4,2.3,2.7,4.0,0.8,0.2,1.4,2.4,9.9
12,Al-Farouq Aminu,28,POR,81,81,28.3,3.2,7.3,0.433,1.2,...,0.867,1.4,6.1,7.5,1.3,0.8,0.4,0.9,1.8,9.4
13,Justin Anderson,25,ATL,48,4,9.6,1.3,3.3,0.408,0.5,...,0.743,0.5,1.3,1.8,0.5,0.5,0.3,0.5,1.0,3.7
14,Kyle Anderson,25,MEM,43,40,29.8,3.5,6.4,0.543,0.2,...,0.578,1.1,4.7,5.8,3.0,1.3,0.9,1.3,2.6,8.0
15,Ryan Anderson,30,TOT,25,8,12.9,0.8,2.8,0.304,0.4,...,0.750,0.7,1.4,2.2,0.8,0.2,0.0,0.6,1.0,2.5
16,Ryan Anderson,30,PHO,15,8,18.5,1.3,4.0,0.317,0.5,...,0.786,0.9,2.1,3.0,1.1,0.2,0.1,0.8,1.5,3.7
17,Ryan Anderson,30,MIA,10,0,4.4,0.2,0.9,0.222,0.2,...,0.500,0.4,0.5,0.9,0.2,0.1,0.0,0.2,0.2,0.7
18,Ike Anigbogu,20,IND,3,0,2.0,0.0,1.0,0.000,0.0,...,NaN,0.3,0.7,1.0,0.3,0.0,0.3,0.3,0.0,0.0
19,Giannis Antetokounmpo,24,MIL,72,72,32.8,10.0,17.3,0.578,0.7,...,0.729,2.2,10.3,12.5,5.9,1.3,1.5,3.7,3.2,27.7

In [8]:
df.describe() # to see the summary of statistics pertaining to the DataFrame(df) columns

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,708.000000,708.000000,708.000000,708.000000,708.000000,708.000000,702.000000,708.000000,708.000000,661.000000,...,665.000000,708.000000,708.000000,708.000000,708.000000,708.000000,708.000000,708.000000,708.000000,708.000000
mean,26.142655,42.882768,19.847458,19.265254,3.091949,6.885028,0.437301,0.884181,2.558898,0.315045,...,0.739629,0.821610,2.738701,3.557345,1.834605,0.609746,0.370339,1.033475,1.724859,8.384322
std,4.141178,26.282043,25.858704,9.023905,2.116415,4.396151,0.109997,0.788803,2.059268,0.139641,...,0.143505,0.771119,1.870375,2.488335,1.642428,0.420888,0.387384,0.748687,0.812302,5.828200
min,19.000000,1.000000,0.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,19.000000,0.000000,12.200000,1.500000,3.500000,0.400000,0.300000,0.900000,0.286000,...,0.684000,0.300000,1.475000,1.800000,0.800000,0.300000,0.100000,0.500000,1.200000,4.000000
50%,26.000000,44.000000,6.000000,19.100000,2.600000,6.000000,0.434000,0.800000,2.200000,0.335000,...,0.763000,0.600000,2.300000,3.000000,1.300000,0.500000,0.300000,0.900000,1.700000,7.000000
75%,29.000000,68.000000,32.000000,27.100000,4.200000,9.400000,0.485000,1.300000,3.800000,0.372000,...,0.825000,1.100000,3.600000,4.625000,2.400000,0.800000,0.500000,1.400000,2.300000,11.500000
max,42.000000,82.000000,82.000000,36.900000,10.800000,24.500000,1.000000,5.100000,13.200000,1.000000,...,1.000000,5.400000,11.100000,15.600000,10.700000,2.400000,2.700000,5.000000,4.000000,36.100000

In [9]:
df.info() #information about the dataframe including the data types of each column and memory usage of the entire data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 708 entries, 0 to 707
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  708 non-null    object
 1   Age     708 non-null    int64
 2   Tm      708 non-null    object
 3   G       708 non-null    int64
 4   GS      708 non-null    int64
 5   MP      708 non-null    float64
 6   FG      708 non-null    float64
 7   FGA     708 non-null    float64
 8   FG%     702 non-null    float64
 9   3P      708 non-null    float64
 10  3PA     708 non-null    float64
 11  3P%     661 non-null    float64
 12  2P      708 non-null    float64
 13  2PA     708 non-null    float64
 14  2P%     693 non-null    float64
 15  eFG%    702 non-null    float64
 16  FT      708 non-null    float64
 17  FTA     708 non-null    float64
 18  FT%     665 non-null    float64
 19  ORB     708 non-null    float64
 20  DRB     708 non-null    float64
 21  TRB     708 non-null    float64
 22  AST     708 non-null    float64
 23  STL     708 non-null    float64
 24  BLK     708 non-null    float64
 25  TOV     708 non-null    float64
 26  PF      708 non-null    float64
 27  PTS     708 non-null    float64
dtypes: float64(23), int64(3), object(2)
memory usage: 155.0+ KB

In [15]:
'''counted =df.pivot_table(index='Player', values='PTS', columns='3P', aggfunc='count')

# Create the new column: counted['totals']
counted['totals'] = counted.sum(axis='columns')

# Sort counted by the 'totals' column
counted = counted.sort_values('totals', ascending=False)

# Print the top 15 rows of counted
print(counted.head(5)) 

'''

"counted =df.pivot_table(index='Player', values='PTS', columns='3P', aggfunc='count')\n\n# Create the new column: counted['totals']\ncounted['totals'] = counted.sum(axis='columns')\n\n# Sort counted by the 'totals' column\ncounted = counted.sort_values('totals', ascending=False)\n\n# Print the top 15 rows of counted\nprint(counted.head(5)) \n\n"

In [33]:
df['Player'].nunique()

530